@page
@model MultiFactorAuthentication.Web.Areas.Identity.Pages.Account.Manage.RegisterFidoModel
@{
}


<div class="section">
  <div class="container">
    <div class="notification is-danger" style="display:none">
      Please note: Your browser does not seem to support WebAuthn yet. <a href="https://caniuse.com/#search=webauthn" target="_blank">Supported browsers</a>
    </div>
    <h3 class="title is-3">Register your yubikey</h3>
    @*
        The FIDO2 registration is accomplished by a event listener that is attached to the registration button (by ID 'register') ind script mfa.register.js
    *@
    <form action="/RegisterFido" method="post" id="register">
      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="hidden" value="@User.Identity.Name" required name="username">
         </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="btn btn-primary">Register</button>
        </div>
      </div>
    </form>







  </div>
</div>


<script src="~/js/helpers.js"></script>
<script src="~/js/instant.js"></script>
<script src="~/js/mfa.register.js"></script>
